@media screen and (max-width: 450px) {
  html {
    scroll-snap-type: y proximity;
  }

  #contact,
  #project_introduction {
    scroll-snap-align: start;
  }
}

.container {
  /* declare a main container for the flexbox */
  display: flex;
  /* allow the aside and main to wrap around one another  */
  flex-wrap: nowrap;
  margin: 1em;
}

body {
  font-family: monospace;
  line-height: 150%;
}

#head_banner {
  text-align: center;
}

.hero {
  background-image: url(../images/ai.png);
  width: auto;
  color: white;
  /* without the height, the image will only be the height of the block element */
  height: 200px;
  /* width: 100%; */
  padding: 2em;
  background-size: cover;
}

/* .hero img {
  background-repeat: no-repeat;
} */

header {
  color: black;
}

main {
  /* setting main to take the remaining space up from the flexbox aside available space */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  padding-left: 1em;
}

.title {
  border-top: thick solid rgba(0, 0, 0, 0.5);
  border-bottom: thick solid rgba(0, 0, 0, 0.5);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  line-height: 120%;
}

nav {
  /* for initial layout */
  /* border: dotted black; */
  text-decoration: none;
  display: flex;
}

nav ul {
  margin-right: 10%;
  padding-left: 5%;
  line-height: 250%;
}

/* 
    flex-basis: 100%; sets the initial size of the flex item to take up 100% of the available space in the flex container. This means that the flex item will expand to fill the entire width (or height, depending on the flex direction) of the container.


    flex-basis: auto; sets the initial size of the flex item based on its content. The flex item will take up the necessary space to accommodate its content, and any remaining space will be distributed among the other flex items according to their flex-grow and flex-shrink properties.


 */

#about_me {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 500px;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 3em;
  border-right: thick solid rgba(0, 0, 0, 0.5);

  /* for initial layout */
  /* border-style: solid;
  border-width: 2px;
  border-color: purple; */
}

#about_me img {
  border-radius: 8px;
  height: 300px;
  width: auto;
}

#about_me_blurb {
  padding-top: 1em;
  padding-bottom: 1em;
}

#dev_name {
  font-weight: bolder;
}

#dev_experience {
  padding-top: 1em;
  padding-bottom: 1em;
}

#dev_experience ul {
  margin-left: 1em;
}

#dev_hobby {
  padding-top: 1em;
  padding-bottom: 1em;
}

.first_letter::first-letter {
  text-decoration: underline;
  font-weight: bold;
}

#dev_experience #contact {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  /* padding-left: 1em; */
  /* padding: 2%; */

  /* for initial layout */
  /* border-style: solid;
  border-width: 2px;
  border-color: yellow; */
}

.title {
  font-size: xx-large;
  /* border-right: thick solid rgba(0, 0, 0, 0.5); */
}

#contact ul {
  list-style-type: none;
  line-height: 200%;
}

/* style of the project showcase, including the intro and the content */
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em;
}

.project_introduction {
  margin-bottom: 2em;
}

.project_title {
  padding-bottom: 0.3em;
  border-bottom: solid darkgray;
}

/* .project_blurb {
  
} */

.project_card {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 350px;
  margin-bottom: 3em;
  border-style: solid;
  border-color: darkgrey;
  border-radius: 8px;
  padding-left: 0.75em;
  padding-bottom: 0.75em;
  padding-right: 0.5em;
}

.project_card:hover {
  background-color: red;
}

.project_preview {
  border-top: thin black solid;
  margin-top: 1em;
  padding-top: 7%;
  border-top: thin darkgrey solid;
}

.footer {
  margin-top: 3em;
}

.footer p {
  text-align: center;
}

/* media query all the things */
@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }
}

/* shrink the about section when the screen is collapsing */
@media screen and (max-width: 810px) {
  #about_me {
    flex-basis: 100%;
    border-right: none;
    /* order: 1; */
  }
  .container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 490px) {
  /* hide the preview i frame. not sure I will keep this. maybe I can try to get the readme? */
  .git_preview {
    display: none;
    /* background-color: green; */
  }

  .project_preview {
    display: none;
  }

  #about_me {
    border-right: none;
  }

  .title {
    border-left: none;
    border-right: none;
    border-bottom: thick solid rgba(0, 0, 0, 0.5);
    padding-bottom: 0.5em;
  }
}
